.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

}
button {
  padding: 5px 10px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: #357ab8;
  }